<%- include('includes/header'); -%>
  <h1>Edit Product</h1>
  <div class="container">
    <%if (typeof success !="undefined" && success ) { %>
      <div id="display-success">
        <p>Product has been saved successfully</p>
      </div>
      <% } %>

        <form action="/update/<%=product._id%>" method="post">
          <label for="name"><b>Product Name</b></label>

          <input type="text" placeholder="Enter Product Name" value="<%=product.name%>" name="name" required>

          <label for="price"><b>Price</b></label>
          <input type="text" placeholder="Enter Price" value="<%=product.price%>" name="price" required>

          <button type="submit">Update</button>
        </form>
  </div>


  </form>
  <%- include('includes/footer'); -%>